.site-logo {
    padding-top: 5px;
    padding-bottom: 5px;
}

.site-logo img {
    max-width: 37px !important;
    height:auto;
}

/*.login-page, .register-page {
    background-color:#ffc3c3 
}*/

/*.login-logo a, .register-logo a{
    color:#f3e1b2;
}*/